.section-container {
  height: 30px;
  display: flex;
  font-size: 18px;
  color: green;
}

.item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.item:nth-child(2) {
  margin-top: 10px;
}

.image {
  width: 73px;
  height: 73px;
  margin-right: 20px;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  margin-top: 15px;
}