.page {
  text-align: center;
}

.section-title {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: green;
  color: white;
}

.item {
  display: flex;
  justify-content: center;
}

.item-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 400px;
}

.item:nth-child(even) {
  background-color: lightgreen;
}